  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--Possibly add Privacy Policy and terms of use later
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <script>
        var setBackground = function(){
          $("header").css("background", "url('http://luke-holly.github.io/Sampson-the-Longhorn-Website/img/header-bg.jpg') no-repeat 60% 35% fixed");
          $("header").css("background-size", "cover");
          var instance = $('header').data('vide');
          instance.destroy();
          };
          setTimeout(setBackground, 15500);
        function() {
          var words = new Array('Grand Opening','Commercial','Parade', 'Print Ad', 'Photoshoot');
          var i = 0;
setInterval( function(){
    $( '#wordDiv' ).empty().append( words[ i ] );
    if( i < words.length ) {
        i++;
    } else {
        i = 0;
    }
}, 5000 );

        }
</script>
    </footer>
