 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "http://luke-holly.github.io/Sampson-the-Longhorn-Website/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "http://luke-holly.github.io/Sampson-the-Longhorn-Website/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "http://luke-holly.github.io/Sampson-the-Longhorn-Website/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "http://luke-holly.github.io/Sampson-the-Longhorn-Website/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "http://luke-holly.github.io/Sampson-the-Longhorn-Website/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "http://luke-holly.github.io/Sampson-the-Longhorn-Website/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "http://luke-holly.github.io/Sampson-the-Longhorn-Website/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "http://luke-holly.github.io/Sampson-the-Longhorn-Website/js/agency.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "http://luke-holly.github.io/Sampson-the-Longhorn-Website/js/jQueryAddClass.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "http://luke-holly.github.io/Sampson-the-Longhorn-Website/js/jquery.vide.min.js" | prepend: site.baseurl }}"></script>
      <!--  <script src="{{ "/js/jquery.fixBackground.js" | prepend: site.baseurl }}"></script> -->
