<div class="section animate">
   <div class="middle">
      <img src="https://luke-holly.github.io/Sampson-the-Longhorn-Website/img/2717.jpg" />
   </div>
   <div class="left title">
      <div class="content">
         <h2>An incredible performing animal.</h2>
         <p>Sampson is gentle, fun, and loves to show off. He's a real attention-getter who enjoys performing and meeting new people in any place.</p>
         <a href="#" class="btn-primary">Learn more</a>
      </div>
   </div>
   <div class="right tiles">
     <div id="blueimp-gallery" class="blueimp-gallery">
       <div class="slides"></div>
       <h3 class="title"></h3>
       <a class="prev">‹</a>
       <a class="next">›</a>
       <a class="close">×</a>
       <a class="play-pause"></a>
       <ol class="indicator"></ol>
       </div>
       <div id="links">
    <a href="img/commercial.jpg" title="Banana">
        <img src="img/commercial.jpg" alt="Banana">
    </a>
    <a href="img/kids.jpg" title="Apple">
        <img src="img/kids.jpg" alt="Apple">
    </a>
    <a href="img/izzy.jpg" title="Orange">
        <img src="img/izzy.jpg" alt="Orange">
    </a>
</div>
   </div>
</div>

<div class="section">
   <div class="middle">
      <img src="https://luke-holly.github.io/Sampson-the-Longhorn-Website/img/SampsonNissan.jpg" />
   </div>
   <div class="right title">
      <div class="content">
         <h2>Commercials, Promotions, Anything.</h2>
         <p>Sampson has performed in commercials and ads for years, and is a real attention-getter in any advertisement. He's bold and stately, and a great actor.</p>
      </div>
   </div>

   <div class="left tiles">
     <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
       <div class="slides"></div>
       <h3 class="title"></h3>
       <a class="prev">‹</a>
       <a class="next">›</a>
       <a class="play-pause"></a>
       <ol class="indicator"></ol>
     </div>
     <script>
blueimp.Gallery(
    {
        container: '#blueimp-gallery-carousel',
        carousel: true
        title: 'Fruits',
        href: 'https://youtu.be/c34i-RV9y4o',
        type: 'text/html',
        youtube: 'c34i-RV9y4o',
    },
);
</script>
   </div>

</div>

<div class="section">
   <div class="middle">
      <img src="https://luke-holly.github.io/Sampson-the-Longhorn-Website/img/withKids.jpg" />
   </div>
   <div class="left title">
      <div class="content">
         <h2>Gentle and kind.</h2>
         <p>Sampson loves photo-ops, and is a gentle, kind soul. He's awesome with kids and families and loves to be ridden.</p>
      </div>
   </div>

   <div class="right tiles">
      <img src="https://placeimg.com/100/100/arch/color" />
      <img src="https://placeimg.com/150/150/arch/color" />
      <img src="https://placeimg.com/300/300/arch/color" />
      <img src="https://placeimg.com/350/350/arch/color" />
   </div>

</div>

<div class="section">
   <div class="middle">
      <img src="https://placeimg.com/410/410/tech/color" />
   </div>
   <div class="right title">
      <div class="content">
         <h2>The future is now.</h2>
         <p>Check out that technology! Imagine if we went back in time and put one of those in the hands of a neanderthal. Do you think they'd be impressed, or just try to club us to death?</p>
      </div>
   </div>

   <div class="left tiles">
      <img src="https://placeimg.com/900/900/tech/color" />
      <img src="https://placeimg.com/140/140/tech/color" />
      <img src="https://placeimg.com/750/750/tech/color" />
      <img src="https://placeimg.com/400/400/tech/color" />
   </div>

</div>
