<div class="section animate">
   <div class="middle">
      <img src="https://placeimg.com/640/640/nature/color" />
   </div>
   <div class="left title">
      <div class="content">
         <h2>A glorious nature shot.</h2>
         <p>Wow. What a wonderful image. And look! there are even more images on the right side. Amazing. If you click below, I bet you'll get teleported to a magical land.</p>
         <a href="#" class="btn-primary">Learn more</a>
      </div>
   </div>
   <div class="right tiles">
      <img src="https://placeimg.com/900/900/nature/color" />
      <img src="https://placeimg.com/200/200/nature/color" />
      <img src="https://placeimg.com/300/300/nature/color" />
      <img src="https://placeimg.com/400/400/nature/color" />
   </div>
</div>

<div class="section">
   <div class="middle">
      <img src="https://placeimg.com/640/640/people/color" />
   </div>
   <div class="right title">
      <div class="content">
         <h2>Check out this guy.</h2>
         <p>What an interesting looking person! I wonder if they've ever climbed Mount Everest, or seen the Egyptian Pyramids. If not, I hope that one day they get to. You go random stock image person! Follow your dreams!</p>
      </div>
   </div>

   <div class="left tiles">
      <img src="https://placeimg.com/100/100/people/color" />
      <img src="https://placeimg.com/200/200/people/color" />
      <img src="https://placeimg.com/300/300/people/color" />
      <img src="https://placeimg.com/400/400/people/color" />
   </div>

</div>

<div class="section">
   <div class="middle">
      <img src="https://placeimg.com/620/620/arch/color" />
   </div>
   <div class="left title">
      <div class="content">
         <h2>That is one pretty building.</h2>
         <p>I once thought about becoming an architect. I wanted to create a house fit for a king. But then I failed maths. So I became a frontend developer instead.</p>
      </div>
   </div>

   <div class="right tiles">
      <img src="https://placeimg.com/100/100/arch/color" />
      <img src="https://placeimg.com/150/150/arch/color" />
      <img src="https://placeimg.com/300/300/arch/color" />
      <img src="https://placeimg.com/350/350/arch/color" />
   </div>

</div>

<div class="section">
   <div class="middle">
      <img src="https://placeimg.com/410/410/tech/color" />
   </div>
   <div class="right title">
      <div class="content">
         <h2>The future is now.</h2>
         <p>Check out that technology! Imagine if we went back in time and put one of those in the hands of a neanderthal. Do you think they'd be impressed, or just try to club us to death?</p>
      </div>
   </div>

   <div class="left tiles">
      <img src="https://placeimg.com/900/900/tech/color" />
      <img src="https://placeimg.com/140/140/tech/color" />
      <img src="https://placeimg.com/750/750/tech/color" />
      <img src="https://placeimg.com/400/400/tech/color" />
   </div>

</div>
