<div class="section animate">
   <div id="Does" class="middle">
      <img src="https://luke-holly.github.io/Sampson-the-Longhorn-Website/img/2717.jpg" />
   </div>
   <div class="left title">
      <div class="content">
         <h2>An incredible performing animal.</h2>
         <p>Sampson is gentle, fun, and loves to show off. He's a real attention-getter who enjoys performing and meeting new people in any place.</p>
         <a href="#" class="btn-primary">Learn more</a>
      </div>
   </div>
   <div class="right tiles">
     <div id="blueimp-gallery" class="blueimp-gallery">
       <div class="slides"></div>
       <h3 class="title"></h3>
       <a class="prev">‹</a>
       <a class="next">›</a>
       <a class="close">×</a>
       <a class="play-pause"></a>
       <ol class="indicator"></ol>
       </div>
       <div id="links">
    <a href="img/commercial.jpg" title="commercial">
        <img src="img/commercial.jpg" alt="Sampson in a commercial">
    </a>
    <a href="img/kids.jpg" title="Kids">
        <img src="img/kids.jpg" alt="Sampson with kids">
    </a>
    <a href="img/izzy.jpg" title="Izzy">
        <img src="img/izzy.jpg" alt="Sampson's trailer">
    </a>
    <img src="https://luke-holly.github.io/Sampson-the-Longhorn-Website/img/Sampson6.jpg" />
    <img src="https://luke-holly.github.io/Sampson-the-Longhorn-Website/img/Sampson11.jpg" />
</div>
   </div>
</div>

<div class="section">
   <div class="middle">
      <img src="https://luke-holly.github.io/Sampson-the-Longhorn-Website/img/SampsonNissan.jpg" />
   </div>
   <div class="right title">
      <div class="content">
         <h2>Commercials, Promotions, Anything.</h2>
         <p>Sampson has performed in commercials and ads for years, and is a real attention-getter in any advertisement. He's bold and stately, and a great actor.</p>
      </div>
   </div>

   <div class="left tiles">
     <div id="blueimp-video-carousel" class="blueimp-gallery blueimp-gallery-controls blueimp-gallery-carousel">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
</div>
     <script>
blueimp.Gallery([
    {
        title: 'Stuff',
        type: 'text/html',
        youtube: 'c34i-RV9y4o',
    },
    {
        title: 'Things',
        type: 'text/html',
        youtube: 'c34i-RV9y4o',
    }
  ],
    {
    container: '#blueimp-video-carousel',
    carousel: true
  }
);
</script>
   </div>

</div>

<div class="section">
   <div class="middle">
      <img src="https://luke-holly.github.io/Sampson-the-Longhorn-Website/img/withKids.jpg" />
   </div>
   <div class="left title">
      <div class="content">
         <h2>Gentle and kind.</h2>
         <p>Sampson loves photo-ops, and is a gentle, kind soul. He's awesome with kids and families and loves to be ridden.</p>
      </div>
   </div>

   <div class="right tiles">
      <img src="https://luke-holly.github.io/Sampson-the-Longhorn-Website/img/Sampson1.jpg" />
      <img src="https://luke-holly.github.io/Sampson-the-Longhorn-Website/img/Sampson2.jpg" />
      <img src="https://luke-holly.github.io/Sampson-the-Longhorn-Website/img/Sampson3.jpg" />
      <img src="https://luke-holly.github.io/Sampson-the-Longhorn-Website/img/Sampson4.jpg" />
   </div>

</div>

</div>
